# Proyecto Bootcamp IA

## Análisis exploratorio de la Data

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

1. Abrir el DataSet de excel y volverlo un DataFrame (Visualización de los datos)
2. Hacer el tratamiento de los valores nulos (Limpieza de datos)
3. Mostrar por pantalla el deporte que más practican los estudiantes (ambos sexos)
4. Mostrar por pantalla la institución educativa con el mayor y menor numero de estudiantes
   que practican deportes
5. Seleccionar en el primer cuartil de las estudiantes (mujeres) que practican tenis de mesa en la prueba
   de balón medicinal. Es decir, que tienen los resultados mas bajos

## 1. Visualización de los datos

Versión de Python: 3.13.2

In [7]:
datos = pd.read_excel("datos.xlsx")
datos.head()

,Institución Educativa Distrital -IED,Deporte,Sexo,Edad (años cumplidos),Peso (kg),Talla (cm),Talla Sentado (cm),Envergadura (cm),Balón Medicinal,Salto Largo,10 x 5 (s),30 m lanzados (s),Wells,Leger,Velocidad Máxima (Course Navette - km h^-1)
0,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,40.0,148.0,77.0,149.0,305.0,113.0,19.5,7.0,30.0,3.0,9.5
1,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,53.0,158.0,82.0,158.0,400.0,142.0,17.8,6.2,18.0,NaN,NaN
2,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,46.0,156.0,80.0,153.0,310.0,145.0,19.3,6.5,29.0,3.0,9.5
3,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,53.0,147.0,77.0,146.0,335.0,129.0,19.7,7.1,22.0,3.0,9.5
4,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,51.0,158.0,83.0,157.0,360.0,148.0,17.2,6.2,22.0,3.0,9.5

In [8]:
# Imprimir las columnas 
datos.columns

Index(['Institución Educativa Distrital -IED', 'Deporte', 'Sexo',
       'Edad (años cumplidos)', 'Peso (kg)', 'Talla (cm)',
       'Talla Sentado (cm)', 'Envergadura (cm)', 'Balón Medicinal',
       'Salto Largo', '10 x 5 (s)', '30 m lanzados (s)', 'Wells', 'Leger',
       'Velocidad Máxima (Course Navette - km h^-1)'],
      dtype='object')

In [9]:
# Verificar número de filas y columnas 
print("Dimensiones del DataFrame",datos.shape)

Dimensiones del DataFrame (2491, 15)

## 2. Limpieza de datos

In [11]:
# Visualización de la cantidad de valores nulos por columnas 
print(datos.isnull().sum())

Institución Educativa Distrital -IED            0
Deporte                                         0
Sexo                                            0
Edad (años cumplidos)                           0
Peso (kg)                                       0
Talla (cm)                                      0
Talla Sentado (cm)                              0
Envergadura (cm)                                0
Balón Medicinal                                 0
Salto Largo                                     0
10 x 5 (s)                                      0
30 m lanzados (s)                               0
Wells                                           0
Leger                                          58
Velocidad Máxima (Course Navette - km h^-1)    85
dtype: int64

In [ ]:
# Generación de una copia para hacer la limpieza de datos
df_copy = datos.copy()
df_copy.head()

,Institución Educativa Distrital -IED,Deporte,Sexo,Edad (años cumplidos),Peso (kg),Talla (cm),Talla Sentado (cm),Envergadura (cm),Balón Medicinal,Salto Largo,10 x 5 (s),30 m lanzados (s),Wells,Leger,Velocidad Máxima (Course Navette - km h^-1)
0,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,40.0,148.0,77.0,149.0,305.0,113.0,19.5,7.0,30.0,3.0,9.5
1,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,53.0,158.0,82.0,158.0,400.0,142.0,17.8,6.2,18.0,NaN,NaN
2,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,46.0,156.0,80.0,153.0,310.0,145.0,19.3,6.5,29.0,3.0,9.5
3,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,53.0,147.0,77.0,146.0,335.0,129.0,19.7,7.1,22.0,3.0,9.5
4,COL CLEMENCIA DE CAYCEDO (IED),AJEDREZ,Mujer,12,51.0,158.0,83.0,157.0,360.0,148.0,17.2,6.2,22.0,3.0,9.5

In [15]:
# LLenar los datos nulos de la columna Leger con la media de los datos 
if "Leger" in df_copy.columns:
    df_copy["Leger"].fillna(df_copy["Leger"].mean(), inplace=True)
print(df_copy.isnull().sum())

Institución Educativa Distrital -IED            0
Deporte                                         0
Sexo                                            0
Edad (años cumplidos)                           0
Peso (kg)                                       0
Talla (cm)                                      0
Talla Sentado (cm)                              0
Envergadura (cm)                                0
Balón Medicinal                                 0
Salto Largo                                     0
10 x 5 (s)                                      0
30 m lanzados (s)                               0
Wells                                           0
Leger                                           0
Velocidad Máxima (Course Navette - km h^-1)    85
dtype: int64

C:\Users\juans\AppData\Local\Temp\ipykernel_5996\334504840.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy["Leger"].fillna(df_copy["Leger"].mean(), inplace=True)

In [16]:
# LLenar los valores nulos de la columna Valocidad Máxima con la media de los datos 
if "Velocidad Máxima (Course Navette - km h^-1)" in df_copy.columns:
    df_copy["Velocidad Máxima (Course Navette - km h^-1)"].fillna(df_copy["Velocidad Máxima (Course Navette - km h^-1)"].mean(), inplace=True)
print(df_copy.isnull().sum())

Institución Educativa Distrital -IED           0
Deporte                                        0
Sexo                                           0
Edad (años cumplidos)                          0
Peso (kg)                                      0
Talla (cm)                                     0
Talla Sentado (cm)                             0
Envergadura (cm)                               0
Balón Medicinal                                0
Salto Largo                                    0
10 x 5 (s)                                     0
30 m lanzados (s)                              0
Wells                                          0
Leger                                          0
Velocidad Máxima (Course Navette - km h^-1)    0
dtype: int64

C:\Users\juans\AppData\Local\Temp\ipykernel_5996\522461577.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy["Velocidad Máxima (Course Navette - km h^-1)"].fillna(df_copy["Velocidad Máxima (Course Navette - km h^-1)"].mean(), inplace=True)

## 3. Deporte que más práctican los estudiantes

In [19]:
deporte_mas_practicado = df_copy["Deporte"].mode()[0]
print( "El deporte más practicado es:",deporte_mas_practicado)

El deporte más practicado es: FUTBOL

## 4. Instiución educativa con mayor y menor número de estudiantes que practican deportes

In [ ]:
colegio_moda = df_copy["Institución Educativa Distrital -IED"].value_counts()
colegio_moda

Institución Educativa Distrital -IED
COMUNIDAD1                                   271
COL TOMAS CARRASQUILLA (IED)                 139
COL COLOMBIA VIVA (IED)                      126
COL FEDERICO GARCIA LORCA (IED)              103
COL MANUELA BELTRAN (IED)                     99
                                            ...
COL RUR JOSE CELESTINO MUTIS (IED)             4
COL NUEVA ESPERANZA (IED)                      3
COL INST TEC DISTRITAL JULIO FLOREZ (IED)      3
COL MANUEL ELKIN PATARROYO (IED)               2
COL RAFAEL BERNAL JIMENEZ (IED)                2
Name: count, Length: 62, dtype: int64

In [26]:
print(f"El colegio con mayor número de estudiantes inscritos en las pruebas físicas es: {colegio_moda.index[0]} con {colegio_moda.iloc[0]} estudiantes") 
print(f"El colegio con menor número de estudiantes inscritos en las pruebas físicas es: {colegio_moda.index[-1]} con {colegio_moda.iloc[-1]} estudiantes")

El colegio con mayor número de estudiantes inscritos en las pruebas físicas es: COMUNIDAD1 con 271 estudiantes
El colegio con menor número de estudiantes inscritos en las pruebas físicas es: COL RAFAEL BERNAL JIMENEZ (IED) con 2 estudiantes